.form-wrapper{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
span{
  color: red;
}